<div class="row">
	{{#each cohort}}
	<div class="col">
		<div class="card" style="width: 20rem;">
			<div class="overlay-container">
				<img src="{{pro_img}}" alt="{{name}}" class="profile-pic card-img-top">
				<div class="overlay">
					<div class="card-body">
						<p class="description">
							{{about_me}}
						</p>
					</div>
				</div>
			</div>
			<div class="inline">
				<a href="{{github_url}}" target="_blank" class="card-link">
					<img src="images/icons/GitHub-Mark-64px.png" alt="GitHub Icon" width="30" height="30">
				</a>
				<a href="{{linkedIn_url}}" target="_blank" class="card-link">
					<img src="images/icons/In-Black-66.png" alt="LinkedIn Icon" width="30" height="30">
				</a>
			</div>
		</div>
	</div>
	{{/each}}

</div>
