<div class="row">
	{{#each cohort}}
	<div class="col-xl-3 col-lg-4 col-sm-6 card-group"> {{!-- profile cards --}}
		<div class="card">
			<div class="overlay-container">
				<img src="{{pro_img}}" alt="{{name}}" class="profile-pic card-img-top">
				<img src="{{fun_img}}" alt="{{name}}" class="fun-pic card-img-top hide opaque-pic"> {{!-- fun pic hidden on load --}}
				<div class="overlay"> {{!-- this is the section that slides up on hover --}}
					<div class="card-body description">
						<p class="card-text">{{about_me}}</p>
					</div>
				</div>
			</div>
			<div class="card-body"> {{!-- icon/link strip at bottom of card --}}
				<h4 class="card-title">{{name}}</h4>
				<div class="profile-links d-flex justify-content-around">
					<!-- personal site if it exists -->
					{{#if personal_site}}
					<a href="{{personal_site}}" class="fa fa-globe" target="_blank"></a>
					{{/if}}
					<!-- github profile if it exists -->
					{{#if github_url}}
					<a href="{{github_url}}" class="fa fa-github" target="_blank"></a>
					{{/if}}
					<!-- linkedin page if it exists -->
					{{#if linkedIn_url}}
					<a href="{{linkedIn_url}}" class="fa fa-linkedin" target="_blank"></a>
					{{/if}}
					<!-- soundcloud interview if it exists -->
					{{#if soundcloud_url}}
					<a href="{{soundcloud_url}}" class="fa fa-soundcloud" target="_blank"></a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
