<div class="row">
	{{#each cohort}}
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="card">
			<div class="overlay-container">
				<img src="{{pro_img}}" alt="{{name}}" class="profile-pic card-img-top">
				<img src="{{fun_img}}" alt="{{name}}" class="fun-pic card-img-top hidden">
				<div class="overlay">
					<div class="card-body description">
						<h4 class="card-title">{{name}}</h4>
						<p class="card-text">{{about_me}}</p>
					</div>
				</div>
			</div>
			<div class="card-body d-flex justify-content-around">
				<a href="{{personal_site}}" target="_blank" class="card-link m-0">
					<img src="images/icons/globe.svg" alt="Homepage Icon" class="card-icon">
				</a>
				<a href="{{github_url}}" target="_blank" class="card-link m-0">
					<img src="images/icons/github.svg" alt="GitHub Icon" class="card-icon">
				</a>
				<a href="{{linkedIn_url}}" target="_blank" class="card-link m-0">
					<img src="images/icons/linkedin.svg" alt="LinkedIn Icon" class="card-icon">
				</a>
			</div>
		</div>
	</div>
	{{/each}}
</div>
